<% provide(:title, "Edit post") %>
<h1>Edit your post</h1>

 <%= form_for @post, method: :patch do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.file_field :picture %>

  <div>
    <%= f.submit %>
  </div>

<% end %>